<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Koha sandbox setup</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/intranet-tmpl/prog/en/includes/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/intranet-tmpl/prog/en/css/staff-global.css" />
<script type="text/javascript" src="/intranet-tmpl/lib/jquery/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#submit_apply").click(function(e){
      [% UNLESS lastcreated %]
        if ( $("#nochange").is(":checked") ) {
          e.preventDefault();
          alert("No database exists, you have to choose a database")
        }
      [% END %]
    });
    $("#form_apply").validated();
    $("#form_so").validated();
  });
</script>
<style type="text/css">
    fieldset.rows fieldset { background-color: #FFF; margin: 1em; }
    fieldset.rows label { width : 13em; }
</style>
</head>
<body>
<div id="doc" class="yui-t7">
<h1>Welcome to the Koha sandbox tester</h1>
<div id="bd">
<div class="yui-g">
[% IF lastcreated %]
  <p>The current setup on this sandbox is = <b>[%lastcreated%]</b></p>
[% ELSE %]
  <p>There is no current setup on this sandbox</p>
[% END %]
<p>This tool is dedicated to testing <a href="http://koha-community.org">Koha</a> patches. See <a href="http://wiki.koha-community.org/wiki/Sandboxes">Koha wiki</a> for more informations</p>
[% IF ( done ) %]<div class="dialog message">Request sent. It should be done in a minute or two. Check your mailbox if you've provided your email address</div>[% END %]
<form id="form_apply" action="sandbox.pl" method="post">
    <fieldset class="rows">
    <ol>
    <li><label for="bugzilla">Bugzilla number:</label><input type="text" id="bugzilla" name="bugzilla"/></li>
    <li><label for="name">Your name:</label><input type="text" id="name" name="name"/> (optional)</li>
    <li><label for="mailaddress">Your email address:</label><input type="text" id="mailaddress" name="mailaddress"/> (optional)</li>
    <li>
        <label for="translations">Translations:</label>
        <select id="translations" name="translations" />
            <option value=""></option>
            [% FOREACH language IN languages %]
                <option value="[% language %]">[% language %]</option>
            [% END %]
        </select> (optional)
    </li>
    </ol>
    <fieldset><legend>Database:</legend>
        <ol>
        <li class="radio">
            <p><input id="nochange" name="database" type="radio" value="-1" checked="checked" /><label class="widelabel" for="nochange">No change (-1)</label></p>
            <p><input id="nodb" name="database" type="radio" value=""/> <label class="widelabel" for="nodb">No database (run webinstaller) (0)</label></p>
            <p><input id="marc21" name="database" type="radio" value="1"/> <label class="widelabel" for="marc21">MARC21, tiny dataset (1)</label></p>
            <p><input id="unimarc" name="database" type="radio" value="2"/> <label class="widelabel" for="unimarc">UNIMARC, public library (2)</label></p>
        </li></ol></fieldset>
      <ol>
        <li><label for="koha">Anti-spam:</label><input type="text" id="koha" name="koha" required="required" /> (Enter the name of your prefered ILS, it's the 4th word on this page, in case you hesitate! If you don't do it, nothing will happen when you submit the form)</li>
      </ol>
    <fieldset class="action"><input id="submit_apply" type="submit" value="OK"/></fieldset>
    </fieldset>
</form>
</div>
<div class="yui-g">
<h1>Sign-off</h1>
<p>Once you have tested the patch, you can add your signature to the bug. To do that, please fill the following form:</p>
[% IF signoff_needed %]
  [% IF ( signoff_done ) %]
    <div class="dialog message">Request sent. It should be done in a minute or two. Check your mailbox if you've provided your email address.</div>
  [% ELSE %]
    <div class="dialog alert">
    [% IF no_patch_applied %]
      It seems you don't have applied a patch, so you cannot sign off it.
    [% ELSE %]
      You want to sign off patches from bug [% bznumber_needed %] but it seems patches applied are from bug [% bznumber_applied %].
    [% END %]
    </div>
  [% END %]
[% END %]
<form id=form_so" action="sandbox.pl" method="post">
<fieldset class="rows">
    <ol>
    <li><label for="signoff_number">Signoff Bugzilla number: </label><input type="text" id="signoff_number" name="signoff_number" required="required" /></li>
    <li><label for="signoff_name">Your name: </label><input type="text" id="signoff_name" name="signoff_name" required="required" /></li>
    <li><label for="signoff_email">Your email: </label><input type="text" id="signoff_email" name="signoff_email" required="required" /></li>
    <li><label for="signoff_koha">Anti-spam: </label><input type="text" id="signoff_koha" name="koha" required="required" /> (Enter the name of your prefered ILS, it's the 4th word on this page, in case you hesitate! If you don't do it, nothing will happen when you submit the form)</li>
    </ol>
    <fieldset class="action"><input id="submit_so" type="submit" value="OK"/></fieldset>
</fieldset>
</form>
</div>
</div>
</div>
</body>
</html>
